.dark {
    color: #EEE;
}
.dark a:hover {
    color: #EEE;
}
.dark #header:not(.transparent-header),
#header.dark:not(.transparent-header) {
    background-color: #262728;
}
.dark #logo a {
    color: #CCC;
}
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li > a {
    color: #70767f;
}
.dark #header-wrap:not(.not-dark) #primary-menu > ul > li:hover a {
    color: #EEE;
}
.dark #primary-menu:not(.not-dark) ul ul li {
    border-top-color: none;
}
.dark #primary-menu:not(.not-dark) ul ul li:first-child {
    border-top: 0;
}
.dark #primary-menu:not(.not-dark) ul ul li:hover > a {
    display: block;
}
.dark .dropdown-menu {
    background-color: #f4f5f7;
}
.dark .dropdown-menu > li > a {
    color: #DDD;
}
.dark .dropdown-menu > li > a:hover,
.dark .dropdown-menu > li > a:focus {
    background-color: none;
}
.dark #primary-menu:not(.not-dark) ul ul,
.dark #primary-menu:not(.not-dark) ul li .mega-menu-content,
#primary-menu.dark ul ul,
#primary-menu.dark ul li .mega-menu-content {
    background-color: #f4f5f7;
    border-radius: 3px;
}
.dark #primary-menu:not(.not-dark) > ul > li.sub-menu > a {
    background-image: url("images/icons/submenu-dark.png");
}
.dark #primary-menu:not(.not-dark) ul ul a,
#primary-menu.dark ul ul a {
    color: #999 !important;
}